.vs/
DataInsights.DataCollector/bin/
DataInsights.DataCollector/obj/
DataInsights.DataModel/bin/
DataInsights.DataModel/obj/
DataInsights.TwitterCollector.WebAPI/bin/
DataInsights.TwitterCollector.WebAPI/obj/
DataInsights.TwitterCollector/bin/
DataInsights.TwitterCollector/obj/
packages/
DataInsights.Common/bin/
DataInsights.Common/obj/
DataInsights.DataAnalyzer/bin/
DataInsights.DataAnalyzer/obj/
DataInsights.SentimentAnalyzer/bin/
DataInsights.SentimentAnalyzer/obj/